/* div{
    background-color: rgb(156, 216, 36);
}

p{
    color: rgb(248, 246, 246);
    background-color: rgb(160, 165, 160);

} */
/* div{ */
    /* color: black; */
    /* color: rgb(231, 22, 110); */
    /* color: rgba(111, 211, 11, 0.5); */
    /* color: #654321;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

    background-color: bisque;

} */


/*  self practice  */
/* div{
    background-color: aquamarine;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} */
/* #a{
    background-color: blueviolet;
}
#b{
    background-color: blueviolet;
}
#c{
    background-color: blueviolet;
} */

/* .cl{
    background-color: brown;
} */

/* .mypara{ */
    /* background-color: rgb(214, 167, 14);
    color: rgb(27, 202, 39);
    color: rgb(111, 211, 155);
    color: rgba(1, 2, 3,0.5); 
    color: #FF0000 */
/* 
    background-color: #FF0000;
    color: #BBD5DA;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 45px;
    word-spacing: 1400px;
    letter-spacing: 1pc;

}

a{
    background-color: rgb(255, 255, 255);
    color: rgb(9, 230, 75);
    font-family: cursive;
    font-size: 16px;
    text-decoration:solid;
    
} */

#dabba{
    /* background-color: rgb(76, 134, 171); */
    height: 100px;
    width: 100px;
    border: 5px double gray;
}

/* #dabba2{
    background-color: blueviolet;
} */
