*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: brown
}

#navbar{
    height: 60px;
    background-color: #0f1111;
    /* display: flex; */
    /* gap: 200px; */
}

a{
    font-size: 25px;
    text-decoration: none;
}

#ip{
    height: 25px;
    margin-top: 5px;
}

#btn{
    height: 25px;
    margin-top: 5px;
    background-color: #f08804
}
#a1{
    
  color: #f08804;
}
a{
  margin-right: 200px;
}

#traffic{
    height: 500px;
    width: 200px;
    background-color: #0f1111;
    margin-left: 50px;
}
#th{
    text-align: center;
    border: 2px solid yellow;
}
#t1{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 50px;
    padding: 40px;
    border-radius: 50%;
    color: #0f1111;

}

#t2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 50px;
    padding: 40px 30px;
    border-radius: 50%;
    color: #0f1111;
}

#t3{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px;
    padding: 40px 30px;
    border-radius: 50%;
    color: #0f1111;
}


.display{
    height: 200px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}


#d1{
    background-color: blue;
}

#d2{
    background-color: green;
    /* display: none; */
    visibility: hidden;
}

#d3{
    background-color: red;
}


