#parent{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 15px;
}

#child{
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    /* font-size: 2em; */
    width: 5em;
    
}